body {
  background-color: rgb(200,230,255);
}

.nav {
  text-align: center;
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  background-color: rgb(200,200,100);
}

.container {
  width: 90%;
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.postList {
  width: 30%;
}

.content {
  width: 65%
}